body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.chatcontainer {

border:2px solid #dedede;
background-color:#f1f1f1;
border-radius:5px;
padding:10px;
margin:10px 0;
}

.chatroom{
    overflow-y:scroll;
    height:500px;
    width:500px;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}


.chatcontainer::after {
    content: "";
    clear: both;
    display: table;
}

.chatcontainer img {
    float: left;
    max-width: 60px;
    width: 100%;
    max-height:60px;
    height:100%;
    margin-right: 20px;
    border-radius: 50%;
}

.chatcontainer img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}



.avatar {
    transition: transform .2s;
    width: auto;
    max-height: 256px;
    max-width: 256px;
    height: auto;
}

    .avatar:hover {
        transform: scale(2.5);
    }
