@model BitirmeProjesi.Models.ViewModel.GroupPageViewModel

@{
    ViewBag.Title = "GroupPage";
}

<h2>GroupPage</h2>



<div class="container">

    <div class="container row">
        <div class="col-8">
            <h1 id="titleName">ADSADAs</h1>
            <input type="text" id="txtMessage" />
            <br />
            <button id="btnSend">Send Message</button>
            <hr />
            <ul id="chatList">  </ul>
        </div>

        <div class="col-4">

            <h1 id="groupName">GRP</h1>
            <input type="text" id="grpMessage" />
            <br />
            <button id="grpSend">SendGrp</button>
            <hr />
            <ol id="groupChat"></ol>
        </div>
    </div>














</div>



@section scripts
{
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/signalr/hubs")
    <script>
        var groupChatHubProxy = $.connection.groupChatHub;

        groupChatHubProxy.client.henloFr = function () {
            $("#chatList").append("<li class='other'>" + "Araba" + ":" + "ARABAAA" + "</li>")
        };


        $.connection.hub.start().done(function () {

            groupChatHubProxy.client.hello = function () {
                console.log("AXDAD");
            };


            groupChatHubProxy.server.henlo();
            groupChatHubProxy.server.helloFRR();



        }).fail(function () {




        });




    </script>
}







