@model BitirmeProjesi.Models.ViewModel.GroupPageViewModel

@{
    ViewBag.Title = "GroupPage";
}

<h2>GroupPage</h2>

    
@Html.Hidden("groupId", Model.groupView.GroupId)
<div class="container">

    <div class="row">
        <div class="chatRooms col">
            @foreach (var room in Model.groupView.GroupChats)
            {
                <input type="hidden" id="chatName" value="@room.GroupChatName" />
                <button id="joinBtn" >Sohbete Katıl</button>
                <div id="Chatroom_@room.GroupChatName">



                </div>

                <input type="text" id="chatMessage"/>
                <button type="button" id="sendChatMessage">Send</button>


            }




        </div>
    </div>
</div>



@section scripts 
{
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/signalr/hubs")
    <script>

        //Buraya chat template yaz ve onu her mesajda append ile ekle Chatroom'a


        var groupChatHub = $.connection.groupChatHub;

        groupChatHub.client.serverNotification = function (message) { console.log(message); };
        var chatName = $("#chatName").val();
        var groupId = $("#groupId").val();
        $.connection.hub.qs = {
            'groupChatName': chatName
        };

        groupChatHub.client.sendMessageGroup = function (groupChatMessage) {

            $('#Chatroom_'+chatName).append('<div>' + groupChatMessage.Username + ' : ' + ' ' + groupChatMessage.ChatMessage + ' Date : ' + groupChatMessage.PostDate + '</div>');

        };


        $.connection.hub.start().done(function () {

            $("#joinBtn").click(function () {
                groupChatHub.server.joinGroupChat(chatName, groupId);
            });


            $("#sendChatMessage").click(function () {
                var message = $("#chatMessage").val();
                groupChatHub.server.sendMessage(chatName, groupId, message);

            });

        }).fail(function () {


            console.log("Hub couldn't start");

        });




    </script>
}







